* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif; }

/*------HEADER-NAV--------*/
.header {
  width: 100%;
  background: #F4F4F2;
  grid-area: header; }
  .header nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    color: black; }
    .header nav .menu li a:hover {
      background-color: #806a3b;
      transition: 0.2s;
      border-radius: 10px; }
  .header nav div a .redes-container {
    width: 50px;
    height: 50px; }

/*-----------------GRID--------------*/
.padre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "header header header"
 "main main main"
 "footer footer footer"; }
  .padre main {
    grid-area: main; }

/*----------------------------------INDEX-----------------*/
  main .video {
    display: flex;
    justify-content: space-evenly;
    background: #ddddda;
    margin: 10px 10px 0px 5px; }
    main .video iframe {
      height: 400px;
      width: 50%;
      box-shadow: 0px 0px 15px black; }
    main .video div {
      width: 100%;
      align-self: flex-start;
      padding: 20px; }
      main .video div h2 {
        text-align: center;
        font-size: 40px;
        color: #b6862d; }
      main .video div p {
        font-size: 23px; }
  main .lanzamientos {
    width: 100%; }
    main .lanzamientos .lanzamientos-title {
      text-align: center; }
    main .lanzamientos > div {
      display: flex;
      text-align: center;
      background: #f8f8f5;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      main .lanzamientos > div img {
        width: 300px;
        height: 150px;
        margin: 10px 0; }
      main .lanzamientos > div p {
        font-size: 20px;
        font-weight: bolder; }
  main .mas-vendidos {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    align-items: center; }
    main .mas-vendidos h3 {
      font-size: 30px; }
    main .mas-vendidos ol {
      display: flex;
      justify-content: space-around; }
      main .mas-vendidos ol li {
        font-size: 20px;
        list-style: square inside;
        margin-left: 30px; }
  /*----------------------------------VEHICULOS-----------------*/
  main .veh h1 {
    text-align: center;
    font-size: 33px;
    color: #333;
    background: #e3dcdc; }
  main .veh img {
    width: 260px;
    height: 108px; }
  main .veh .vehiculos h2 {
    text-align: center;
    font-size: 28px;
    background: #393E46;
    color: #FFD369; }
  main .veh .vehiculos .autos-title {
    width: 100%;
    display: flex;
    padding: 10px 0px 0px;
    flex-wrap: wrap;
    justify-content: space-between; }
    main .veh .vehiculos .autos-title div .p-autos {
      text-align: center;
      font-size: 20px; }
  main .veh .vehiculos .suvs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    padding: 10px 0px 0px;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .veh .vehiculos .suvs div .p-autos {
      text-align: center;
      font-size: 20px; }
  main .veh .vehiculos .pickups {
    margin-top: 30px;
    width: 100%;
    display: flex;
    padding: 10px 0px 0px;
    margin-bottom: 6px;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .veh .vehiculos .pickups div .p-autos {
      text-align: center;
      font-size: 20px; }
  /*----------------------------------PLAN-----------------*/
  main .hero {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    background: linear-gradient(#0570, #0510), url(/images/planes/oferta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover; }
    main .hero h1 {
      font-size: 40px;
      font-weight: bold;
      color: #dedede;
      text-shadow: 2px 2px #000; }
    main .hero button {
      background-color: #e4a124;
      color: white;
      border: 1px solid #c78f15;
      padding: 0.9375rem 1.875rem;
      font-family: "Monserrat", sans-serif;
      font-size: 1.125rem;
      font-weight: 200;
      cursor: pointer;
      border-radius: 20px;
      transition: all 0.3s ease 0s; }
      main .hero button:hover {
        background-color: #e0bdbd;
        border: 1px solid #a68d0e; }
  main .pasos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .pasos img {
      width: 180px;
      height: 126px; }
    main .pasos .title-pasos {
      text-align: center;
      margin-top: 1%;
      font-family: sans-serif; }
    main .pasos > div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      width: 70%;
      text-align: center;
      border: 10px solid #b6862b;
      flex-wrap: wrap; }
  /*----------------------------------OFERTAS-----------------*/
  main .of .oferta-title {
    text-align: center;
    background: #e3dcdc; }
  main .of .oferta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background: #ffeece;
    background: linear-gradient(90deg, #ffeece 0%, white 45%, rgba(255, 255, 255, 0.8) 55%, #ffeece 100%); }
    main .of .oferta h2 {
      text-align: center; }
    main .of .oferta img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      height: 200px; }
    main .of .oferta button {
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 1em 2em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: white;
      background-color: #3c3a3a;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none; }
      main .of .oferta button:hover {
        background-color: #CE7D35;
        box-shadow: 0px 15px 20px rgba(177, 132, 8, 0.4);
        color: #fff;
        transform: translateY(-7px); }
  main .otros {
    width: 100%; }
    main .otros .otros-title {
      text-align: center;
      background: #91908f; }
    main .otros div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      flex-wrap: wrap; }
      main .otros div div {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        text-decoration: none;
        list-style: none; }
        main .otros div div img {
          margin: 10px 0; }
        main .otros div div p {
          font-size: 20px;
          font-weight: bolder; }
          main .otros div div p a {
            text-decoration: none;
            list-style: none;
            color: rgba(0, 0, 0, 0.815); }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  margin-top: 10px;
  background: #BBBFCA;
  grid-area: footer; }
  .footer img {
    width: 300px;
    height: 150px; }
  .footer ul li a {
    color: black;
    font-size: 24px;
    transition: all 0.2s;
    text-decoration: none; }
    .footer ul li ahover {
      color: #CE7D35; }
  .footer iframe {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 300px;
    height: 250px; }

/*--------------------------------------------------------MEDIA-QUERIE-TABLET--------------------------------------------------------------*/
@media screen and (max-width: 900px) {
  /* -------------------------------------------------------HEADER-900----------------------------------------------------------------------*/
  .header nav {
    flex-direction: column; }
  /* -------------------------------------------------------INDEX-900----------------------------------------------------------------------*/
  .padre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "header header"
 "main main"
 "footer footer"; }
  .video {
    flex-direction: column;
    align-items: center; }
    .video iframe {
      width: 100%; }
    .video div {
      width: 100%;
      align-self: none; }
  .lanzamientos {
    flex-direction: column; }
    .lanzamientos h2 {
      font-size: 27px; }
    .lanzamientos div p {
      font-size: 20px; }
  .mas-vendidos {
    flex-direction: column; }
  /* -------------------------------------------------------PLAN-900----------------------------------------------------------------------*/
  .hero {
    width: 100%; }
  .pasos {
    flex-direction: column; }
  /* -------------------------------------------------------OFERTA-900----------------------------------------------------------------------*/
  .oferta {
    width: 100%; }
  /* -------------------------------------------------------CONTACTO-900----------------------------------------------------------------------*/
  .formulario-contacto {
    width: 45%;
    margin: 0 0 10px 30%;
    font-size: 18px; }
    .formulario-contacto div .iconoscon ul li p {
      font-size: 12px; }
  /* -------------------------------------------------------FOOTER-900----------------------------------------------------------------------*/
  .footer {
    flex-direction: column; } }

/*--------------------------------------------------------MEDIA-QUERIE-MOBILE--------------------------------------------------------------*/
@media screen and (max-width: 550px) {
  /*--------------------------------------------------------HEADER-550--------------------------------------------------------------*/
  .header {
    flex-direction: column; }
    .header nav {
      flex-direction: column; }
  /*--------------------------------------------------------INDEX-550--------------------------------------------------------------*/
  .video div h2 {
    font-size: 30px; }
  .video div p {
    font-size: 20px; }
  .mas-vendidos h3 {
    font-size: 25px; }
  .mas-vendidos ol {
    flex-direction: column; }
    .mas-vendidos ol li {
      font-size: 15px;
      text-align: center; }
  /*--------------------------------------------------------VEHICULOS-550--------------------------------------------------------------*/
  .veh .vehiculos .autos-title img {
    width: 100%;
    height: 200px; }
  /* -------------------------------------------------------OFERTA-550----------------------------------------------------------------------*/
  .oferta {
    width: 100%; }
    .oferta img {
      width: 100%;
      height: 200px; }
  /* -------------------------------------------------------CONTACTO-550----------------------------------------------------------------------*/
  .formulario-contacto {
    font-size: 18px; }
    .formulario-contacto div .iconoscon ul li p {
      font-size: 15px; }
  /* -------------------------------------------------------FOOTER- 550----------------------------------------------------------------------*/
  .footer {
    flex-direction: column; }
    .footer ul li {
      font-size: 25px; } }
