/*-------------MAP---------*/
$colores: ("primary":blue, "secondary":grey,"success":green, "warning":yellow);

@each $name, $color in $colores {
  .btn-#{$name}:before {
    background-color: $color;
    content: $color;
  }
}
/*----------MAP-GET-------------*/
$estilostituloveh: (
  color: #FFD369,
  centro: center
);
/*--------------EXTEND--------------*/
.video{
    display: flex;
}

.mas-vendidos{
    @extend .video;
}
/*---------------MIXIN--------------*/
@mixin formater($radio){
    border-radius: $radio;
}

.vehiculos img{
    @include formater(1px)
}