/*--------------------------------------------------------MEDIA-QUERIE-TABLET--------------------------------------------------------------*/
@media screen and (max-width:900px){
    /* -------------------------------------------------------HEADER-900----------------------------------------------------------------------*/
    .header{
        nav{
            flex-direction: column;
        }
    }
    /* -------------------------------------------------------INDEX-900----------------------------------------------------------------------*/
    .padre{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 0.5fr auto 0.5fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer"; 
    }
    .video{
        flex-direction: column;
        align-items: center;
        iframe{
            width: 100%;
        }
        div{
            width: 100%;
            align-self: none;
        }
    }
    .lanzamientos{
        flex-direction: column;
        h2{
            font-size: 27px;
        }
        div{
            p{
                font-size: 20px;
            }
        }
    }
    .mas-vendidos{
        flex-direction: column;
    }
    /* -------------------------------------------------------PLAN-900----------------------------------------------------------------------*/
    .hero{
        width: 100%;
    }

    .pasos{
        flex-direction: column;
    }
    /* -------------------------------------------------------OFERTA-900----------------------------------------------------------------------*/
    .oferta{
        width: 100%;
    }
    /* -------------------------------------------------------CONTACTO-900----------------------------------------------------------------------*/
    .formulario-contacto{
        width: 45%;
        margin: 0 0 10px 30%;
        font-size: 18px;
        div{
            .iconoscon{
                ul{
                    li{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    /* -------------------------------------------------------FOOTER-900----------------------------------------------------------------------*/
    .footer{
        flex-direction: column;
    }
}
    /*--------------------------------------------------------MEDIA-QUERIE-MOBILE--------------------------------------------------------------*/
@media screen and (max-width:550px){
    /*--------------------------------------------------------HEADER-550--------------------------------------------------------------*/
    .header{
        flex-direction: column;
        nav{
            flex-direction: column;
        }
    }
/*--------------------------------------------------------INDEX-550--------------------------------------------------------------*/
    .video{
        div{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    .mas-vendidos{
        h3{
            font-size: 25px;
        }
        ol{
            flex-direction: column;
            li{
                font-size: 15px;
                text-align: center;
            }
        }
    }
/*--------------------------------------------------------VEHICULOS-550--------------------------------------------------------------*/
    .veh{
        .vehiculos{
            .autos-title{
                img{
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
/* -------------------------------------------------------OFERTA-550----------------------------------------------------------------------*/
    .oferta{
        width: 100%;
        img{
            width: 100%;
            height: 200px;
        }
    }
    
/* -------------------------------------------------------CONTACTO-550----------------------------------------------------------------------*/
    .formulario-contacto{
        font-size: 18px;
        div{
            .iconoscon{
                ul{
                    li{
                        p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
/* -------------------------------------------------------FOOTER- 550----------------------------------------------------------------------*/
    .footer{
        flex-direction: column;
        ul{
            li{
                font-size: 25px;
            }
        }
    }
}
